.additionalcerts {
  color: white;
  font-weight: 200;
}


#cert-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;


}

.cert_img {
  margin: 5px;
}
.list-group-item {
  border: none!important;
}

.list-group-item {
  color: rgb(80, 80, 80);
}

.other-tech {
  margin-top: 75px;
  margin-bottom: 50px;
}
#clients {
  margin-top: 75px;
  margin-bottom: 50px;
}

.rounded {
  max-width: 50%;
}