.additionalcerts {
  color: white;
  font-weight: 200;
}


#cert-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;


}

.cert_img {
  margin: 5px;
}
.list-group-item {
  border: none!important;
}